{% extends 'base.html' %}

{% block content %}
<h1>Look! Products</h1>
	{% for product in products %}
		<ul>
			<li style="list-style: none;">{{ forloop.counter }}: {{ product.name }}</li>
		</ul>
	{% endfor %}

<form class="" action="{% url 'qpl:products' %}" method="post">
	{% csrf_token %}
	<input type="text" name="name" value="" placeholder="name">
	<input type="text" name="description" value="" placeholder="description">
	<input type="text" name="price" value="" placeholder="price">
	<button type="submit">ADD PRODUCT</button>
</form>
{% endblock %}

